[Unit]
Description=System Check Service

[Service]
ExecStart=/usr/bin/node /home/%i/oscheck/index.js
WorkingDirectory=/home/%i/oscheck
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=oscheck
User=%i
Group=%i
Environment=NODE_ENV=production HOSTNAME=

[Install]
WantedBy=multi-user.target
